/*
Some overrides of Academic's defaults
*/

html {
  line-height: 1.75;
  scroll-behavior: smooth;
 }
 
.article-container {
   max-width: 840px;
 }

/*
Some custom styles
*/

.inline-icon {
  font-size: 1.2rem;
}

h1 {
  font-weight: bold;
  color: #0F4C5C;
}

/* Styling interests list */
.ul-interests li i:before {
  content:"\f5dc"
}

/* Styling the gallery */

.gallery a[data-fancybox] img {
  height: 190px;
}

/* Test styles for images in outreach page */
figure.outreach-img {
  width: 190px;
  padding: 4px;
  margin: 0;
}

.outreach-img a {
  text-decoration: underline;
}